<div class="table-responsive p-4">
<table class="table-bordered table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">UserName</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td >{{user.id}}</td>
      <td >{{user.username}}</td>
      <td >{{user.firstName}}</td>
      <td >{{user.lastName}}</td>
      <td >{{user.email}}</td>
      <td >{{user.roles}}</td>
    </tr>

  </tbody>
</table>
</div>



