<div class="m-4">
    <table class="table-bordered" *ngIf="isLoaded">
        <tr>
            <th>Id</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{user.lastName}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{roleNames}}</td>
        </tr>
        <tr>
            <th>Countries</th>
            <td>{{user.countries}}</td>
        </tr>
    </table>
    <p>
        <button id="promote_button" (click)="promote()"  [disabled]="!canPromote">Advance</button>
    </p>
    <p>
        <button id="demote_button" (click)="demote()" [disabled]="!canDemote">Demote</button>
    </p>

</div>
